<header class="nav-menu">
    <div class="header" >
        <div class="title">
            <img src="assets/title_mini.png" width="150">
        </div>
        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check" (click)="onClick()">
            <label for="menu-btn-check" class="menu-btn">
                <span></span>
            </label>
            <div class="menu-content">
                <ul>
                    <li><a href="#" class="item-content">Top ページ</a></li>
                    <li><a href="#" class="item-content">純利益計算</a></li>
                    <li><a href="#" class="item-content">経費処理</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
